backend:
  name: github
  repo: karmawayan/balilocaltrip-site
  branch: main
  base_url: https://localtrip.karmalanzbase.workers.dev
  auth_endpoint: auth

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Home"
        name: "home"
        file: "content/_index.md"
        fields:
          - { label: "Title", name: "title", widget: "string" }
