backend:
  name: test-repo

media_folder: static/uploads
public_folder: /uploads

collections:
  - name: pages
    label: Pages
    files:
      - name: home
        label: Home
        file: content/test.md
        fields:
          - label: Title
            name: title
            widget: string
          - label: Body
            name: body
            widget: markdown

